<header class="">
    <nav class="navbar navbar-expand-lg bg-primary h-navbar border-bottom border-white border-2 ">
        <div class="container-fluid justify-content-between h-web">
            <!-- LOGO -->
            <a class="" href="#">
                <img src="assets/img/lg.png" alt="Logo" width="64" class="h-auto">
            </a>
            <!-- LINKS -->
            <div class="w-auto" id="navbarNav">
                <ul class="navbar-nav gap-navbar fs-15">
                    <li class="nav-item align-items-center d-flex">
                        <a class="nav-link text-white p-0 fw-300" href="#">Servicios</a>
                    </li>
                    <li class="nav-item align-items-center d-flex">
                        <a class="nav-link text-white p-0 fw-300" href="#">Testimonios</a>
                    </li>
                    <li class="nav-item align-items-center d-flex">
                        <a class="nav-link text-white p-0 fw-300" href="#">Contáctanos</a>
                    </li>
                    <span class="separator"></span>
                    <!-- BOTONES -->
                    <li class="align-items-center d-flex">
                        <a href="signup.html">
                            <button class="fs-15 fw-500 text-white btn btn-navbar btn-info">Registrarse</button>
                        </a>
                    </li>
                    <li class="align-items-center d-flex">
                        <a href="login.html">
                            <button class="text-white btn btn-navbar btn-dark fs-15 fw-500">
                                    Iniciar Sesión
                                </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>