<aside class="sidebar bg-primary  border-white border-2">
    <nav class="menu-lateral">
        <ul>
            <li><a href="gestion-usuarios.html">Gestión de Usuarios</a></li>
            <li><a href="gestion-servicios.html">Gestión de Servicios</a></li>
            <li><a href="listar-reservas.html">Gestión de Reservas</a></li>
            <li><a href="gestion-perfil.html">Mi perfil</a></li>
            <li><a href="contactenos.html">Contáctenos</a></li>
            <li><a href="testimonios.html">Testimonios</a></li>
            <li><a href="index.html">Salir</a></li>

        </ul>
    </nav>
</aside>