<aside class="sidebar bg-primary  border-white border-2">
    <nav class="menu-lateral">
        <ul>
            <li><a href="gestion-usuarios.html">Gestión de Usuarios</a></li>
            <li><a href="gestion-servicios.html">Gestión de Servicios</a></li>
            <li><a href="gestion-reservas.html">Gestión de Reservas</a></li>
            <li><a href="gestion-perfil.html">Mi perfil</a></li>
            <li><a href="mis-reservas.html">Mis reservas</a></li>
            <li><a href="index.html">Salir</a></li>

        </ul>
    </nav>
</aside>