:root {
    --card-form-bg-color: #BBDEFB;
    --btn-submit-color: #7DC67C;
    --bg-header-color: #1976D2;
}

/* ======================================== **  DEFAULTS  ** ================================================= */
main {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.btn-submit {
    background-color: var(--btn-submit-color);
    color: white;
}

/* ======================================== **  MENU  ** ================================================= */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    text-decoration: underline white;
}

.vertical-main {
    position: absolute;
    width: 13rem;
    height: 80vh;
    padding-right: 0.3rem;
}

.vertical-main nav .nav-link {
    color: white;
    padding: .8rem 1rem;
    margin-bottom: 3.7%;
    margin-right: 1%;
    border-radius: 7px;
    -moz-box-shadow: 0 4px 4px rgba(39, 39, 40, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(40, 39, 39, 0.4);
    box-shadow: 0 4px 4px rgba(40, 39, 39, 0.4);
}

.vertical-main nav .nav-link + .active {
    background: #1887F7;
}

/* ========================================= **  CARDS  ** ================================================= */

.card-form {
    background-color: var(--card-form-bg-color);
}


/* ========================================= **  TABLES  ** ================================================= */

.table-primary-head th {
    background-color: var(--bg-header-color);
    color: white;
}

/* ========================================== **  PAGINATION  ** ===============================================*/

.pagination-custom .page-item .page-link {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 7px;
}

.pagination-custom .page-item + .active > .page-link{
    background-color: var(--bg-header-color);
}

.pagination-custom .page-item .page-link{
    border: 0;
}

.pagination-custom .disabled > .page-link {
    background-color: white !important;
}

/* ========================================== **  OTHERS  ** ===============================================*/

* {
    margin: 0;
    padding: 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.w-30 {
    width: 30%;
}

.w-100 {
    width: 100%;
}

.w-64 {
    width: 64px;
}

.rounded-16 {
    border-radius: 16px;
}

.fs-15 {
    font-size: 15px;
}

.fs-20 {
    font-size: 20px;
}

.fs-72 {
    font-size: 72px;
}

.fs-32 {
    font-size: 32px;
}

.fs-48 {
    font-size: 48px;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.fw-300 {
    font-weight: 300;
}

.h-navbar {
    height: 92px;
}

.h-web {
    height: -webkit-fill-available;
    padding: 0px 16px;
}

.gap-navbar {
    gap: 32px;
}

.separator {
    border: 1px white solid;
}

.btn-navbar {
    padding: 8px 16px;
    border-radius: 16px;
    border: none;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.btn-navbar:hover {
    translate: 2px -2px;
}

.fondo-home {
    background-image: url(../img/pixelcut-export.png);
    background-repeat: round;
}

.p-home-img {
    padding: 48px 0px;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 32px;
}

.img-home {
    width: 591px;
    height: 569px;
}

.line-s {
    line-height: 1.3em;
}

.separator-card {
    border: 2px #004080 solid;
}

.btn-card {
    padding: 8px 16px;
    border-radius: 24px;
    border: none;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.btn-card:hover {
    scale: 0.9;
}

.img-card {
    height: 296px;
    border-radius: 16px 16px 0px 0px;
}

.shadow-card {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.gap-service {
    display: flex;
    flex-direction: column;
    padding: 24px 0px;
    gap: 48px;
}

.second-text {
    color: #666666;
}

.red-social {
    display: flex;
    gap: 22px;
}

/* ========================================== **  FOOTER  ** ===============================================*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
    gap: 8px;
}

.footer-complement {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
