:root {
  --color-primary: #003366;
  --color-secondary: #007bff;
  --color-tertiary: #555555;
  --color-text: #ffffff;
  --color-background: #f4f4f4;
  --color-border: #ddd;
  --color-hover-primary: #0056b3;
  --color-hover-secondary: #0069d9;
  --color-accent: #4caf50;
  --color-accent-hover: #45a049;
  --color-bg-card: white;
}

h1 {
  text-align: center;
}
.testimonial-group {
  margin: auto;
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial-content {
  box-sizing: border-box;
  margin: auto;
  margin: 1%;
  display: inline-block;
  box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 30%;
  min-height: 300px; /* Define una altura mínima */
  max-height: 300px; /* Define una altura máxima */
  color: #000;
  font-weight: 500;
  border-radius: 50px;
  background-color: rgba(187, 222, 251, 1);
  padding: 20px 25px 39px;
  border: 1px solid transparent;
}

.testimonial-header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  font: 16px/24px Roboto;
  letter-spacing: 0.15px;
}

.testimonial-name {
  margin: auto 0;
}

.testimonial-image {
  aspect-ratio: 5.41;
  object-fit: contain;
  object-position: center;
  width: 200px;
  min-height: 37px;
  max-width: 100%;
}

.testimonial-title {
  text-align: center;
  letter-spacing: 0;
  margin-top: 27px;
  font: 400 22px/28px Roboto;
}

.testimonial-description {
  text-align: center;
  letter-spacing: 0.1px;
  margin-top: 12px;
  font: 17px/20px Roboto;
}
.create-testimonial {
  margin: auto;
  display: block;
  padding: 15px 20px;
  background-color: var(--color-accent);
  color: var(--color-text-light);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 50px;
}
.create-testimonial:hover {
  background-color: var(--color-accent-hover);
}
.custom-modal {
  position: fixed; /* Mantener el modal en una posición fija en la pantalla */
  top: 50%; /* Posicionarlo a la mitad vertical */
  left: 50%; /* Posicionarlo a la mitad horizontal */
  transform: translate(-50%, -50%); /* Ajuste para centrar perfectamente */
  background: #bbdefb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1050; /* Asegúrate de que esté por encima de otros elementos */
  width: 50%; /* Ajusta según el tamaño deseado */
  max-width: 500px; /* Limitar el tamaño máximo del modal */
  padding: 5%;
}
.inputs-testimonial {
  width: 100%;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 10px;
}

.custom-modal::backdrop {
  background-color: rgba(1, 1, 1, 0.5);
}
.form-create-testimonial {
  text-align: center;
  align-items: center;
}
.textarea-testimonial {
  padding: 5px;
  min-width: 100%;
  max-width: 100%;;
  min-height: 130px;
  max-height: 130px;
}
.enviar-testimonial {
  display: inline-block;
  margin: auto;
  padding: 15px 20px;
  margin-top: 30px;
  background-color: var(--color-accent);
  color: var(--color-text-light);
  border: none;
  cursor: pointer;

}
.cancelar-testimonial{
  margin-top: 20px;
  display: inline-block;
  margin: auto;
  margin-top: 30px;
  padding: 15px 20px;
  background-color: red;
  color: black;
  border: none;
  cursor: pointer;

}
.button-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente si es necesario */
  flex-direction: row; /* Alinea los botones en fila */
  gap: 20px; /* Espacio entre los botones */
}
